<%= form_for([ @product, @comment ]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="aling-items-center">

	  <div class="field">
		  <%= f.text_area :body , placeholder: "Escribe una reseña..." , class: "form-control"%>
	  </div>
	  <br>
	  

	  <div class="actions">
		  <%= f.submit class:"btn btn-success " %>
	  </div>
  </div>
<% end %>
