<%= form_for @product, class: 'form-group'  do |f| %>
	<%= f.label :name , for: 'inlineFormCustomSelect'%> <br>
	<%= f.text_field :name , placeholder: 'Producto'  , class: 'form-control' %>
	<br>
	<%= f.label :description , for: 'inlineFormCustomSelect'%><br>
	<%= f.text_area :description, placeholder: 'Descripcion' , class: 'form-control'%>
	<br>
	<%= f.label :price, for: 'inlineFormCustomSelect' %><br>
	<div class="input-group">
		<div class="input-group-prepend"> <div class="input-group-text">$</div></div>
		<%= f.number_field :price, placeholder: '00.00' , class: 'form-control'%>
	</div>
	<br>
	<div class="custom-file mr-sm-2">
		<%= f.file_field :picture, class: 'custom-file-input ', id: 'customFile' %>
		<%= f.label :foto, class: ' custom-file-label', for: 'customFile' %>
	</div>
	<br>
	<br>
	<div class="form-row">
		<div class="col" >
		<%= f.label :Categoria %>
		<%= f.select :category, class: 'custom-select ' do %>
			<% [['desktop', 'desktop'], ['vestimenta', 'vestimenta'], ['accesorios', 'accesorios'], ['termos', 'termos'], ['otros', 'otros']].each do |c| -%>
				<%= content_tag(:option, c.first, value: c.last) %>
			<% end %>
		<% end %>
		</div>
		<div class="col">
		<div class="custom-control custom-checkbox mr-sm-2">
		   <%= f.check_box :available, class: 'custom-control-input' , id: 'customControlAutosizing' %>
		   <%= f.label :Disponible, class: 'custom-control-label', for: 'customControlAutosizing' %>
		</div>
		</div>
	</div>
<br>
<div class="row justify-content-center" ><%= f.submit class: 'btn btn-primary' %></div>
<% end %>
