<!DOCTYPE html>
<html>
  <head>
    <title>Fimeshop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body >
	<nav class="navbar nav-c navbar-expand-lg navbar-light">
		<%= link_to root_path do %>
			<%= image_tag 'oso2.png', class:"navbar-brand md-0 h1"  %>
		<% end %>
		<div class="collapse navbar-collapse nav-right">
			<ul class="navbar-nav mr-auto">
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Nuevo', {controller:  '/home', action: :nuevo}, method: :get, class: 'nav-link lead' %>
					</li>
				</div>
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Desktop', {controller:  '/home', action: :desktop}, method: :get, class: 'nav-link lead' %>
					</li>
				</div>
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Vestimenta', {controller: '/home', action: :vestimenta}, class: 'nav-link lead' %>
					</li>
				</div>
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Accesorios', {controller: '/home', action: :accesorios}, class: 'nav-link lead' %>
					</li>
					</div>
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Termos', {controller: '/home', action: :termos}, class: 'nav-link lead' %>
					</li>
				</div>
				<div class="col-md-2">
					<li class="navbar-item active ">
						<%= link_to 'Otros', {controller: '/home', action: :otros}, class: 'nav-link lead' %>
					</li>
				</div>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle lead" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <% if user_signed_in? && current_user.roll == true %>
						<%= link_to 'Reservaciones', {controller: '/home', action: :reservaciones}, class: 'dropdown-item' %>
						<div class="dropdown-divider"></div>
						<%= link_to "nuevo", new_product_path, remote: true, class:"dropdown-item" %>
						<%= link_to 'lista', products_path, class: 'dropdown-item' %>
						<div class="dropdown-divider"></div>
						<%= link_to 'Salir', destroy_user_session_path , method: :delete , class: 'dropdown-item' %>
					  <% elsif user_signed_in? %>
						  <%= link_to 'Salir', destroy_user_session_path , method: :delete , class: 'dropdown-item' %>
					  <% else %>
						  <%= link_to 'Iniciar sesion', new_user_session_path, class:"dropdown-item" %>
						  <%= link_to 'Registrarse', new_user_registration_path, class:"dropdown-item" %>
					  <% end %>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>
		<footer class="footer-style">
			<div class="row" >
				<div class="col-md-3"><%= image_tag 'logofime.png' %></div>
				<div class="col-md-3">
					<ul class="nav flex-column">
						<li class="nav-item" >
							<h3 >Productos</h3>
						</li>
						<li>
							<%= link_to 'Desktop', {controller:  '/home', action: :desktop}, method: :get, class: 'nav-link lead text-dark' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Vestimenta', {controller: '/home', action: :vestimenta}, class: 'nav-link lead text-dark' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Accesorios', {controller: '/home', action: :accesorios}, class: 'nav-link lead text-dark' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Termos', {controller: '/home', action: :termos}, class: 'nav-link lead text-dark' %>
						</li>
						<li class="nav-item">
							<%= link_to 'Otros', {controller: '/home', action: :otros}, class: 'nav-link lead text-dark' %>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<h3>Produccion</h3>
					</li>
					<li class="nav-item lead">Uriel Eduardo Robles Nava</li>
					<li class="nav-item lead">Arturo Cesar Treviño Aguilar</li>
					<li class="nav-item lead">Brandon Lizarraga Barrera</li>
					<li class="nav-item lead">Luis Roberto Cuevas Ortiz</li>
					<li class="nav-item lead">Guillermo Elier Rivas Guzman</li>
					<li class="nav-item lead">Jose Sebastian Niño Diaz</li>
				</ul>
				</div>
				<div class="col-md-3"><%= image_tag 'logo.png' %></div>
			</div>
			<div class="row justify-content-center">
				<p class="lead">Programacion Orientada a Objetos</p>
			</div>
		</footer>

  </body>
</html>
